<% content_for :meta_title, "#{@post.title} is on POST" %>
<% content_for :meta_description, @post.description %>
<% content_for :meta_image, "https://og-image.vercel.app/Hello%20World.png" %>

<%#= @post.generated_image_url %>
<%#= cl_image_path @post.photo.key %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : ENV[""],
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v7.0'
    });
  };
</script>


<div>
  <%= @post.title %>
  <%= @post.description %>

  <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<%= social_share_button_tag("Voici mon article #{@post.title}", url: "http://localhost:3000/posts/#{@post.id}", image: "#{@post.generated_image_url}", desc: "Aidez nous à trouver #{@post.title}") %>
